{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}{% block body %}
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% trans "Change Password" %}
                            </h3>
                        </div>
                        <!--begin::Form-->
                        <form class="form" id="form">
                            <div class="card-body">
                                <div class="row">
                                    {% if not dont_ask_password %}
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-form-label">{% trans "Current Password" %}</label>
                                                <input required type="password" name="old_password" id="id_old_password"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    {% else %}
                                        <input type="hidden" class="d-none" name="token_id" value="{{ token_id }}">
                                        <input type="hidden" class="d-none" name="hash_code" value="{{ hash_code }}">
                                    {% endif %}
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label">{% trans "New Password" %}</label>
                                            <input required type="password" name="new_password" id="id_new_password"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label">{% trans "Repeat Password" %}</label>
                                            <input required type="password" name="repeat_password"
                                                   id="id_repeat_password" class="form-control">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{{ back }}" class="btn mx-2 btn-secondary">{% trans "Back" %}</a>
                                <button class="btn btn-primary">{% trans "Submit" %}</button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>


{% endblock %}
{% block script %}
    <script>
        const formV = FormValidation.formValidation(
            document.getElementById('form'),
            {
                fields: {

                    old_password: {
                        validators: {
                            notEmpty: {
                                message: '{% trans "This Field is required" %}'
                            },
                        }
                    },
                    new_password: {
                        validators: {
                            stringLength: {
                                min: 6,
                                max: 20,
                                message: '{% trans "must be between 6 and 20 character" %}'
                            },
                            notEmpty: {
                                message: '{% trans "This Field is required" %}'
                            },
                        }
                    },
                    repeat_password: {
                        validators: {
                            notEmpty: {
                                message: '{% trans "This Field is required" %}'
                            },
                            callback: {
                                message: '{% trans "Repeat Password and New Password are not equal" %}',
                                callback: function (input) {
                                    return input.value === document.querySelector('#id_new_password').value
                                }

                            }
                        }
                    },
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    bootstrap: new FormValidation.plugins.Bootstrap()
                },

            }
        );
        $('#form').submit(function (e) {
            e.preventDefault()
            const button = $(this).find('button');
            formV.validate().then(function (status) {
                if (status === 'Valid') {
                    ApiAjax({
                        success_url: '/',
                        url: {% if not dont_ask_password %}CHANGE_PASSWORD_API_URL{% else %}
                            FORGOT_PASSWORD_CHANGE_URL{% endif %},
                        form: 'form',
                        method: 'PUT',
                        {% if dont_ask_password %}
                            token: false,
                        {% endif %}
                        button: button,
                        success_message: '{% trans "Password changed successfully" %}',
                    })
                } else {
                    Swal.fire({
                        text: '{% trans "Seems some error exists" %}',
                        icon: "error",
                        confirmButtonText: '{% trans "Got it" %}',
                        customClass: {
                            confirmButton: "btn font-weight-bold btn-secondary"
                        }
                    }).then(function () {
                        KTUtil.scrollTop();
                    });
                }
            });
        });
    </script>
{% endblock %}
