{% if messages %}
    {% for message in messages %}
        <!--begin::Notice-->
        <div class="alert alert-custom
            {% if message.tags != 'error' %}alert-{{ message.tags }}{% else %}alert-danger {% endif %}
             alert-shadow fade show gutter-b" role="alert">
            <div class="alert-icon">
            </div>
            <div class="alert-text">
                {{ message }}
            </div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
            </div>
        </div>

    {% endfor %}
{% endif %}
