{% extends 'base.html' %}
{% load static %}

{% block body %}


    <div class="d-flex flex-column-fluid" >
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header">
                            <h3 class="card-title">
                                جدول
                                {{ model_name }}
                            </h3>
                            <div class="card-toolbar" style="direction: ltr !important">
                                <div class="example-tools justify-content-center">
                                    {% if form|length is 1 %}
                                        {% include 'component/createTitle.html' %}
                                    {% else %}
                                        {% include 'component/createModal.html' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <div class="card-body">
                            {% if not disableTable %}
                                <table class="table table-striped table-custom-border text-center table-rounded table-borderless table-thead-primary"
                                       id="table">
                                    <thead>
                                    {% for field in cols %}
                                        <th>{{ field }}</th>
                                    {% endfor %}
                                    <th>عملیات</th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}" type="text/javascript"></script>
    <script src="{% static 'badi_utils/js/datatable.js' %}" type="text/javascript"></script>
    <script>

        {% if not disableTable %}
            window.data_table_cool_options["rowCallback"] = function (row, data) {
                console.log('row', row)
                console.log('data', data)
                for (let value in data) {
                    if (data[value] === "bool-true")
                        $(`td:eq(${value - 1})`, row).html(`<button type="button" class="btn btn-success-reverce noHover btn-circle btn-icon"><i class="fa fa-check"></i></button>`)
                    else if (data[value] === "bool-false")
                        $(`td:eq(${value - 1})`, row).html(`<button type="button" class="btn btn-danger noHover btn-circle btn-icon"><i class="fa fa-times"></i></button>`)
                    if (data[value] === "file-null")
                        $(`td:eq(${value - 1})`, row).html(`<label class="btn btn-secondary btn-sm btn-pill noHover">ندارد</label>`)
                    else if (data[value].startsWith('/media/'))
                        $(`td:eq(${value - 1})`, row).html(`<a download href="${data[value]}" class="btn btn-success-reverce btn-circle btn-icon" title="جهت دریافت فایل کلیک کنید"><i class="fa fa-download"></i></a>`)
                }
            }
            var table = datatable_simple_show({
                {#extras: [naviItem('ارسال پیامک تایید', 'fas fa-info', 'send_sms', "test/0")],#}
                {#icon_action: true,#}
                url: "{{ api_url }}datatable/",
                real_cols: {{cols|length}},
                hide_id: true,
                loading_all: true,
                responsive: true,
                datable_id: '#table',
                {#ac_url: 'send_sms/',#}
                {% if not deleteShow %}
                    not_delete_able: true,
                    del_url: '',
                {% else %}
                    del_url: '{{ api_url }}',
                {% endif %}
                {% if not editShow %}
                    not_edit_able: true,
                    up_url: '',
                {% else %}
                    up_url: "update/0",
                {% endif %}
                {% if not deleteShow and not editShow %}
                    no_action_nutton: true,
                {% endif %}
                extra_del_params: {
                    ajax: true,
                },
                extra_filters: function (d) {
                    d.filter_type = true;
                },
            });
        {% endif %}

        $('.modal select').select2({
            dir: "rtl"
        });
    </script>
    <script>
        console.log( '{{ api_url }}')
        $('#modal_here').on('submit', function (e) {
            e.preventDefault()
            const button = document.getElementById('submitter');
            ApiAjax({
                url: '{{ api_url }}',
                form: 'form',
                method: 'POST',
                button: button,
                table: table,
                modal: '#modal_here',
                success_message: '{{ model_name }} با موفقیت ایجاد شد!'
            })
        })

    </script>
{% endblock %}
