{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header">
                            <h3 class="card-title">
                                افزودن
                                {{ model_name }}
                            </h3>
                            <div class="card-toolbar">
                                <div class="example-tools justify-content-center">
                                    <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                                    <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
                                </div>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="form" id="form" method="POST">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label">نام کاربری:</label>
                                            {{ form.username }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label">رمز عبور:</label>
                                            {% render_field form.password type='password' %}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-form-label"> تکرار رمز عبور:</label>
                                            {% render_field form.password type='password' name='repeat_password' id='id_repeat_password' %}
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">نام:</label>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">نام خانوادگی:</label>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="form-group">
                                            <label class="col-form-label">شماره تماس:</label>
                                            {{ form.mobile_number }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <a href="{{ back }}" class="btn ml-2 btn-secondary">بازگشت</a>
                                <button type="submit" class="btn btn-primary">ثبت کاربر جدید</button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>


{% endblock %}
{% block script %}
    <script>
        const formV = FormValidation.formValidation(
            document.getElementById('form'),
            {
                fields: {
                    first_name: {
                        validators: {
                            stringLength: {
                                max: 20,
                                min: 2,
                                message: 'نام باید بین 2 تا 20 کاراکتر باشد!'
                            },
                            notEmpty: {
                                message: 'وارد کردن نام الزامی است!'
                            },
                        }
                    },
                    last_name: {
                        validators: {
                            stringLength: {
                                max: 20,
                                min: 2,
                                message: 'نام باید بین 2 تا 20 کاراکتر باشد!'
                            },
                            notEmpty: {
                                message: 'وارد کردن نام خانوادگی الزامی است!'
                            },
                        }
                    },
                    password: {
                        validators: {
                            stringLength: {
                                min: 6,
                                max: 20,
                                message: 'رمز عبور باید بین 6 تا 20 کاراکتر باشد!'
                            },
                            notEmpty: {
                                message: 'وارد کردن رمز عبور الزامی است!'
                            },
                        }
                    },
                    repeat_password: {
                        validators: {
                            notEmpty: {
                                message: 'وارد کردن تکرار رمز عبور الزامی است!'
                            },
                            callback: {
                                message: 'رمز عبور با تکرار رمز عبور مطابقت ندارد!',
                                callback: function (input) {
                                    return input.value === document.querySelector('#id_password').value
                                }

                            }
                        }
                    },
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    bootstrap: new FormValidation.plugins.Bootstrap()
                },

            }
        );
        $('#form').on('submit', function (e) {
            e.preventDefault()
            const button = document.querySelector('#form button[type="submit"]');
            formV.validate().then(function (status) {
                if (status === 'Valid') {
                    ApiAjax({
                        success_url: USER_LIST_TEMPLATE,
                        url: USER_API_CREATE_URL,
                        form: '#form',
                        method: 'POST',
                        button: button,
                        success_message: 'کاربر با موفقیت ایجاد شد!',
                        check: function (data) {
                            return data
                        }
                    })
                } else {
                    Swal.fire({
                        text: "به نظر می رسد تعدادی خطا در اطلاعات شما وجود دارد، لطفا دوباره تلاش کنید.",
                        icon: "error",
                        confirmButtonText: "متوجه شدم!",
                        customClass: {
                            confirmButton: "btn font-weight-bold btn-secondary"
                        }
                    }).then(function () {
                        KTUtil.scrollTop();
                    });
                }
            });
        });
    </script>
{% endblock %}
