{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header">
                            <h3 class="card-title">
                                ویرایش
                                {{ object }}
                            </h3>
                        </div>
                        <form id="form" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3">
                                        {% include 'components/image-field.html' with field=form.picture label='آواتار' %}
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-form-label">نام کاربری:</label>
                                                    {{ form.username }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="col-form-label">نام:</label>
                                                    {{ form.first_name }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="col-form-label">نام خانوادگی:</label>
                                                    {{ form.last_name }}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="col-form-label">شماره تماس:</label>
                                                    {{ form.mobile_number }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{{ back }}" class="btn ml-2 btn-secondary">بازگشت</a>
                                <button class="btn btn-primary">ویرایش کاربر</button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'custom/image-field.js' %}"></script>
    <script>

        const formV = FormValidation.formValidation(
            document.getElementById('form'),
            {
                fields: {
                    first_name: {
                        validators: {
                            stringLength: {
                                max: 20,
                                min: 2,
                                message: 'نام باید بین 2 تا 20 کاراکتر باشد!'
                            },
                            notEmpty: {
                                message: 'وارد کردن نام الزامی است!'
                            },
                        }
                    },
                    last_name: {
                        validators: {
                            stringLength: {
                                max: 20,
                                min: 2,
                                message: 'نام باید بین 2 تا 20 کاراکتر باشد!'
                            },
                            notEmpty: {
                                message: 'وارد کردن نام خانوادگی الزامی است!'
                            },
                        }
                    }
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    bootstrap: new FormValidation.plugins.Bootstrap()
                },

            }
        );

        $('#form').submit(function (e) {
            e.preventDefault()
            formV.validate().then(function (status) {
                if (status === 'Valid') {
                    ApiAjax({
                        success_url: MEMBER_LIST_TEMPLATE,
                        url: MEMBER_API_WITH_PK_URL,
                        form: 'form',
                        method: 'PUT',
                        file:true,
                        pk: '{{object.id}}',
                        button: document.querySelector('#form button'),
                        success_message: 'کاربر ({{ form.first_name.value }} {{ form.last_name.value }}) با موفقیت ویرایش شد!',
                    })
                } else {
                    Swal.fire({
                        text: "به نظر می رسد تعدادی خطا در اطلاعات شما وجود دارد، لطفا دوباره تلاش کنید.",
                        icon: "error",
                        confirmButtonText: "متوجه شدم!",
                        customClass: {
                            confirmButton: "btn font-weight-bold btn-secondary"
                        }
                    }).then(function () {
                        KTUtil.scrollTop();
                    });
                }
            });
        });
    </script>
{% endblock %}
