<div class="sg-menu">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="menu-content">
                <a class="navbar-brand" href="https://onno.spagreen.net/demo">
                    <img src="/static/assets/media/logo.png" alt="Logo" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
{#                        {% menus as menus %}#}
                        {% for menu in menus %}
                            <li class="nav-item sg-dropdown">
                                <a href="#" target="">Home </a>
                                <ul class="sg-dropdown-menu">
                                </ul>
                            </li>
                        {% endfor %}
                        <li class="sg-dropdown mega-dropdown">
                            <a href="#">سبک زندگی<span><i class="fa fa-angle-down"
                                                          aria-hidden="true"></i></span></a>
                            <div class="sg-dropdown-menu mega-dropdown-menu">
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="World-tab" data-toggle="tab"
                                                       href="#world" role="tab" aria-controls="World"
                                                       aria-selected="true">اخبار جهان</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link " id="Science-tab" data-toggle="tab"
                                                       href="#science" role="tab" aria-controls="Science"
                                                       aria-selected="false">اخبار ایران</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="world"
                                                     role="tabpanel" aria-labelledby="World-tab">
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-3">
                                                            <div class="sg-post">
                                                                <div class="entry-header">
                                                                    <div class="entry-thumbnail">
                                                                        <a
                                                                                href="story/optio-vel-aut-debitis-similique-at-9">
                                                                            <img class="img-fluid"
                                                                                 src="/static/public/default-image/default-240x160.png"
                                                                                 data-original="/static/public/images/20201217135940_medium_255x175_46.webp"
                                                                                 alt="In a little shriek and a large arm-chair at one corner of it: 'No room! No room!' they cried out when they had any.">
                                                                        </a>
                                                                    </div>
                                                                    <div class="video-icon block">
                                                                        <img src="/static/public/default-image/audio-icon.svg "
                                                                             alt="audio-icon">
                                                                    </div>
                                                                </div>
                                                                <div class="entry-content">
                                                                    <a
                                                                            href="story/optio-vel-aut-debitis-similique-at-9">
                                                                        <p>In a little shriek and a large
                                                                            arm-...</p>
                                                                    </a>
                                                                    <div class="entry-meta">
                                                                        <ul class="global-list">
                                                                            <li>توسط <a
                                                                                    href="author-profile/1">محمد
                                                                                شکاری
                                                                            </a> <a href="date/2021-09-04">
                                                                                04 September 2021</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-3">
                                                            <div class="sg-post">
                                                                <div class="entry-header">
                                                                    <div class="entry-thumbnail">
                                                                        <a
                                                                                href="story/quam-necessitatibus-earum-facere-impedit-repudiandae-totam-id-8">
                                                                            <img class="img-fluid"
                                                                                 src="/static/public/default-image/default-240x160.png"
                                                                                 data-original="/static/public/images/20201217135930_medium_255x175_39.webp"
                                                                                 alt="Mock Turtle; 'but it seems to be afraid of it. Presently the Rabbit just under the sea,' the Gryphon at the bottom of.">
                                                                        </a>
                                                                    </div>
                                                                    <div class="video-icon block">
                                                                        <img src="/static/public/default-image/audio-icon.svg "
                                                                             alt="audio-icon">
                                                                    </div>
                                                                </div>
                                                                <div class="entry-content">
                                                                    <a
                                                                            href="story/quam-necessitatibus-earum-facere-impedit-repudiandae-totam-id-8">
                                                                        <p>Mock Turtle; 'but it seems to be
                                                                            af...</p>
                                                                    </a>
                                                                    <div class="entry-meta">
                                                                        <ul class="global-list">
                                                                            <li>توسط <a
                                                                                    href="author-profile/1">محمد
                                                                                شکاری
                                                                            </a> <a href="date/2021-09-06">
                                                                                04 September 2021</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-3">
                                                            <div class="sg-post">
                                                                <div class="entry-header">
                                                                    <div class="entry-thumbnail">
                                                                        <a href="story/ea-qui-nostrum-iste-6">
                                                                            <img class="img-fluid"
                                                                                 src="/static/public/default-image/default-240x160.png"
                                                                                 data-original="/static/public/images/20201217135909_medium_255x175_40.webp"
                                                                                 alt="Who in the flurry of the court. 'What do you know the song, she kept on good terms with him, he'd do almost anything.">
                                                                        </a>
                                                                    </div>
                                                                    <div class="video-icon block">
                                                                        <img src="/static/public/default-image/video-icon.svg "
                                                                             alt="video-icon">
                                                                    </div>
                                                                </div>
                                                                <div class="entry-content">
                                                                    <a href="story/ea-qui-nostrum-iste-6">
                                                                        <p>Who in the flurry of the court.
                                                                            'Wh...</p>
                                                                    </a>
                                                                    <div class="entry-meta">
                                                                        <ul class="global-list">
                                                                            <li>توسط <a
                                                                                    href="author-profile/1">محمد
                                                                                شکاری
                                                                            </a> <a href="date/2021-09-04">
                                                                                04 September 2021</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-3">
                                                            <div class="sg-post">
                                                                <div class="entry-header">
                                                                    <div class="entry-thumbnail">
                                                                        <a
                                                                                href="story/est-qui-voluptatum-doloremque-et-cum-velit-qui-5">
                                                                            <img class="img-fluid"
                                                                                 src="/static/public/default-image/default-240x160.png"
                                                                                 data-original="/static/public/images/20201217135858_medium_255x175_42.webp"
                                                                                 alt="I can guess that,' she added in an offended tone. And she kept on good terms with him, he'd do almost anything you.">
                                                                        </a>
                                                                    </div>
                                                                    <div class="video-icon block">
                                                                        <img src="/static/public/default-image/video-icon.svg "
                                                                             alt="video-icon">
                                                                    </div>
                                                                </div>
                                                                <div class="entry-content">
                                                                    <a
                                                                            href="story/est-qui-voluptatum-doloremque-et-cum-velit-qui-5">
                                                                        <p>I can guess that,' she added in an...
                                                                        </p>
                                                                    </a>
                                                                    <div class="entry-meta">
                                                                        <ul class="global-list">
                                                                            <li>توسط <a
                                                                                    href="author-profile/1">محمد
                                                                                شکاری
                                                                            </a> <a href="date/2021-09-04">
                                                                                04 September 2021</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade " id="science" role="tabpanel"
                                                     aria-labelledby="Science-tab">
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-3">
                                                            <div class="sg-post">
                                                                <div class="entry-header">
                                                                    <div class="entry-thumbnail">
                                                                        <a
                                                                                href="story/qui-ut-sequi-ullam-qui-velit-repellendus-20">
                                                                            <img class="img-fluid"
                                                                                 src="/static/public/default-image/default-240x160.png"
                                                                                 data-original="/static/public/images/20201217140229_medium_255x175_4.webp"
                                                                                 alt="VERY remarkable in that; nor did Alice think it was,' he said. 'Fifteenth,' said the Caterpillar. Here was another.">
                                                                        </a>
                                                                    </div>
                                                                    <div class="video-icon block">
                                                                        <img src="/static/public/default-image/audio-icon.svg "
                                                                             alt="audio-icon">
                                                                    </div>
                                                                </div>
                                                                <div class="entry-content">
                                                                    <a
                                                                            href="story/qui-ut-sequi-ullam-qui-velit-repellendus-20">
                                                                        <p>VERY remarkable in that; nor did
                                                                            Al...</p>
                                                                    </a>
                                                                    <div class="entry-meta">
                                                                        <ul class="global-list">
                                                                            <li>توسط <a
                                                                                    href="author-profile/1">محمد
                                                                                شکاری
                                                                            </a> <a href="date/2021-09-04">
                                                                                04 September 2021</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-3">
                                                            <div class="sg-post">
                                                                <div class="entry-header">
                                                                    <div class="entry-thumbnail">
                                                                        <a
                                                                                href="story/maxime-error-exercitationem-eos-doloremque-qui-ut-19">
                                                                            <img class="img-fluid"
                                                                                 src="/static/public/default-image/default-240x160.png"
                                                                                 data-original="/static/public/images/20201217140217_medium_255x175_24.webp"
                                                                                 alt="And when I get it home?' when it had struck her foot! She was a long sleep you've had!' 'Oh, I've had such a noise.">
                                                                        </a>
                                                                    </div>
                                                                    <div class="video-icon block">
                                                                        <img src="/static/public/default-image/audio-icon.svg "
                                                                             alt="audio-icon">
                                                                    </div>
                                                                </div>
                                                                <div class="entry-content">
                                                                    <a
                                                                            href="story/maxime-error-exercitationem-eos-doloremque-qui-ut-19">
                                                                        <p>And when I get it home?' when it
                                                                            ha...</p>
                                                                    </a>
                                                                    <div class="entry-meta">
                                                                        <ul class="global-list">
                                                                            <li>توسط <a
                                                                                    href="author-profile/1">محمد
                                                                                شکاری
                                                                            </a> <a href="date/2021-09-04">
                                                                                04 September 2021</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-3">
                                                            <div class="sg-post">
                                                                <div class="entry-header">
                                                                    <div class="entry-thumbnail">
                                                                        <a
                                                                                href="story/architecto-omnis-fuga-est-laudantium-ut-sint-eaque-18">
                                                                            <img class="img-fluid"
                                                                                 src="/static/public/default-image/default-240x160.png"
                                                                                 data-original="/static/public/images/20201217140155_medium_255x175_35.webp"
                                                                                 alt="I can guess that,' she added aloud. 'Do you play croquet with the bread-and-butter getting so used to it as well look.">
                                                                        </a>
                                                                    </div>
                                                                    <div class="video-icon block">
                                                                        <img src="/static/public/default-image/audio-icon.svg "
                                                                             alt="audio-icon">
                                                                    </div>
                                                                </div>
                                                                <div class="entry-content">
                                                                    <a
                                                                            href="story/architecto-omnis-fuga-est-laudantium-ut-sint-eaque-18">
                                                                        <p>I can guess that,' she added
                                                                            aloud....</p>
                                                                    </a>
                                                                    <div class="entry-meta">
                                                                        <ul class="global-list">
                                                                            <li>توسط <a
                                                                                    href="author-profile/1">محمد
                                                                                شکاری
                                                                            </a> <a href="date/2021-09-04">
                                                                                04 September 2021</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-3">
                                                            <div class="sg-post">
                                                                <div class="entry-header">
                                                                    <div class="entry-thumbnail">
                                                                        <a
                                                                                href="story/quos-ut-vel-voluptates-17">
                                                                            <img class="img-fluid"
                                                                                 src="/static/public/default-image/default-240x160.png"
                                                                                 data-original="/static/public/images/20201217140134_medium_255x175_8.webp"
                                                                                 alt="Five! Always lay the blame on others!' 'YOU'D better not talk!' said Five. 'I heard every word you fellows were.">
                                                                        </a>
                                                                    </div>
                                                                    <div class="video-icon block">
                                                                        <img src="/static/public/default-image/video-icon.svg "
                                                                             alt="video-icon">
                                                                    </div>
                                                                </div>
                                                                <div class="entry-content">
                                                                    <a href="story/quos-ut-vel-voluptates-17">
                                                                        <p>Five! Always lay the blame on
                                                                            other...</p>
                                                                    </a>
                                                                    <div class="entry-meta">
                                                                        <ul class="global-list">
                                                                            <li>توسط <a
                                                                                    href="author-profile/1">محمد
                                                                                شکاری
                                                                            </a> <a href="date/2021-09-04">
                                                                                04 September 2021</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item sg-dropdown">
                            <a href="category/rss-news" target="">اخبار ایران <span><i class="fa fa-angle-down"
                                                                                       aria-hidden="true"></i></span>
                            </a>
                            <ul class="sg-dropdown-menu">
                                <li class=""><a href="sub-category/nasa" target="">Nasa </a>
                                    <ul class="sg-dropdown-menu-menu">
                                    </ul>
                                </li>
                                <li class=""><a href="sub-category/wired" target="">Wired </a>
                                    <ul class="sg-dropdown-menu-menu">
                                    </ul>
                                </li>
                                <li class=""><a href="sub-category/abc-news" target="">ABC News </a>
                                    <ul class="sg-dropdown-menu-menu">
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sg-dropdown">
                            <a href="albums" target="">گالری </a>
                            <ul class="sg-dropdown-menu">
                            </ul>
                        </li>
                        <li class="nav-item sg-dropdown">
                            <a href="#" target="">Pages <span><i class="fa fa-angle-down"
                                                                 aria-hidden="true"></i></span> </a>
                            <ul class="sg-dropdown-menu">
                                <li class=""><a href="page/contact-us" target="">ارتباط با ما </a>
                                    <ul class="sg-dropdown-menu-menu">
                                    </ul>
                                </li>
                                <li class=""><a href="page/about-us" target="">درباره ما </a>
                                    <ul class="sg-dropdown-menu-menu">
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="sg-search">
                    <div class="search-form">
                        <form action="search" id="search" method="GET">
                            <label for="label" class="d-none"> Search کنید</label>
                            <input class="form-control" id="label" name="search" type="text"
                                   placeholder=" Search کنید">
                            <button type="submit"><i class="fa fa-search"></i><span class="d-none"> Search
                                            کنید</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>